html {
    font-size: 62.5%; /* 10px */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button {
    font-family: inherit;
    cursor: pointer;
}