@media (max-width: 1200px) and (min-width: 1000px) {
  header .desktop-nav {
    margin: 0 5rem 12rem !important;
  }
  main h2 {
    margin-bottom: 0 !important;
  }
  main .container-editor .editor {
    max-width: 70rem;
  }
  main .container-editor .editor-text {
    margin-left: 5rem !important;
  }
  main .container-phones .phones {
    width: 40rem !important;
    left: 5rem !important;
  }
  main .container-phones .phones-text {
    margin: 8rem 5rem 12rem 10rem !important;
  }
  main .container-laptop .laptop {
    width: 70rem;
    margin-left: -20rem !important;
  }
  main .container-laptop .laptop-text {
    margin-right: 5rem !important;
    margin-left: 1rem !important;
  }
}
@media (min-width: 1000px) {
  header .mobile-nav {
    margin: 0;
  }
  header .hamburger {
    display: none;
  }
  header .logo {
    margin: 0;
  }
  header .gradient-header {
    background-image: url("../images/bg-pattern-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 20% 50%;
    padding-top: 5rem;
  }
  header .desktop-nav {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin: 0 15rem 12rem;
  }
  header .mobile-menu {
    position: static;
    background: none;
    display: flex !important;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
  }
  header .header-links {
    gap: 2rem;
    flex-direction: row;
    padding-bottom: 0;
    border: none;
  }
  header .info-title {
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    font-weight: 300;
  }
  header .info-title:hover {
    text-decoration: underline;
  }
  header .info {
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem 4rem 2rem 1.5rem;
    text-align: left;
  }
  header .info a {
    font-size: 1.4rem;
  }
  header .menu-btns {
    flex-direction: row;
    margin-top: 0;
  }
  header .login {
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
  }
  header .signup {
    background: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    font-weight: 600;
    padding: 1rem 3rem;
    font-size: 1.4rem;
  }
  header h1 {
    max-width: 100%;
    font-size: 4.8rem;
  }
  header h4 {
    max-width: 100%;
  }
  main .gradient-phones, main .container-laptop {
    flex-direction: row;
  }
  main h2 {
    font-size: 3.4rem;
    margin: 15rem 0 -15rem;
  }
  main h3 {
    max-width: 100%;
    margin: 4rem 0 2rem;
    font-size: 2.7rem;
  }
  main .container-editor {
    flex-direction: row-reverse;
    margin-bottom: 5rem;
  }
  main .container-editor .editor {
    margin-right: -25rem;
  }
  main .container-editor .editor-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 8rem 0 15rem;
  }
  main .container-phones {
    width: 100%;
    text-align: left;
  }
  main .container-phones .gradient-phones {
    background-size: 100rem;
    background-position: -21rem -50rem;
    justify-content: space-between;
  }
  main .container-phones .phones {
    width: 56rem;
    left: 15rem;
    bottom: 10rem;
  }
  main .container-phones .phones-text {
    max-width: 50rem;
    margin: 8rem 15rem 12rem 15rem;
  }
  main .container-phones h3 {
    max-width: 100%;
  }
  main .container-laptop {
    width: 100%;
    justify-content: space-between;
    text-align: left;
  }
  main .container-laptop .laptop {
    margin-left: -28rem;
  }
  main .container-laptop .laptop-text {
    max-width: 50rem;
    margin: 0 12rem 0 0;
  }
  footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
  }
}
@media (max-width: 1000px) and (min-width: 700px) {
  header .mobile-nav {
    margin: 6rem 5rem 0;
  }
}
@media (max-width: 450px) {
  main .container-editor .editor {
    width: 32rem;
  }
  main .container-phones .phones {
    width: 30rem;
    bottom: 16rem;
    margin-bottom: -16rem;
  }
  main .container-phones h3 {
    font-size: 3rem;
    margin-top: 0;
  }
  main .container-laptop .laptop {
    width: 35rem;
  }
}
@media (max-width: 300px) {
  main .container-editor .editor {
    width: 20rem;
  }
  main .container-editor .editor-text {
    margin: 0 2rem;
  }
  main .container-phones .phones {
    width: 20rem;
    bottom: 11rem;
    margin-bottom: -10rem;
  }
  main .container-phones .phones-text {
    margin: 0 2rem 8rem;
  }
  main .container-laptop .laptop {
    width: 20rem;
  }
  main .container-laptop .laptop-text {
    margin: 0 2rem;
  }
}